body {
  margin: 0;
  height: 110vh; /* Ensures the background fills the full viewport height */
  background-image: url('https://res.cloudinary.com/dg2t0sykk/image/upload/v1734309425/R1-07284-0009_coyi1f.jpg');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: Arial, sans-serif; /* Optional: Sets a global font style */
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
